<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bigdata.web.dao.MeetingPeopleMapper" >
  <resultMap id="BaseResultMap" type="com.bigdata.web.domain.MeetingPeople" >
    <id column="mp_id" property="mpId" jdbcType="INTEGER" />
    <result column="m_id" property="mId" jdbcType="INTEGER"/>
    <result column="truename" property="truename" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="registertime" property="registertime" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    mp_id, m_id, truename, telephone, company, position, registertime, email, remark, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from meeting_people
    where mp_id = #{mpId,jdbcType=INTEGER}
  </select>
  <select id="list" resultType="com.bigdata.web.domain.MeetingPeople">
    SELECT <include refid="Base_Column_List"/>
    FROM meeting_people
    WHERE is_del = '0'
    limit #{offset}, #{limit}
  </select>
  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(mp_id) FROM meeting_people WHERE is_del = '0'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from meeting_people
    where mp_id = #{mpId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bigdata.web.domain.MeetingPeople" >
    insert into meeting_people (mp_id, m_id, truename, telephone,
      company, position, registertime,
      email, remark, is_del
      )
    values (#{mpId,jdbcType=INTEGER}, #{mId,jdbcType=INTEGER}, #{truename,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
      #{company,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{registertime,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isDel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bigdata.web.domain.MeetingPeople" >
    insert into meeting_people
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mpId != null" >
        mp_id,
      </if>
      <if test="mId != null">
        m_id,
      </if>
      <if test="truename != null" >
        truename,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="registertime != null" >
        registertime,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mpId != null" >
        #{mpId,jdbcType=INTEGER},
      </if>
      <if test="mId != null">
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="truename != null" >
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null" >
        #{registertime,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bigdata.web.domain.MeetingPeople" >
    update meeting_people
    <set >
      <if test="mId != null">
        m_id = #{mId, jdbcType=INTEGER},
      </if>
      <if test="truename != null" >
        truename = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null" >
        registertime = #{registertime,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
    </set>
    where mp_id = #{mpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bigdata.web.domain.MeetingPeople" >
    update meeting_people
    set m_id = #{mId, jdbcType=INTEGER},
      truename = #{truename,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      registertime = #{registertime,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=VARCHAR}
    where mp_id = #{mpId,jdbcType=INTEGER}
  </update>
    <update id="upDelStatus">
      UPDATE meeting_people
      SET is_del = '1'
      where mp_id = #{mpId,jdbcType=INTEGER}
    </update>
</mapper>