<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bigdata.web.dao.NewsTypeMapper" >
  <resultMap id="BaseResultMap" type="com.bigdata.web.domain.NewsType" >
    <id column="nt_id" property="ntId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    nt_id, type_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from news_type
    where nt_id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectNewsTypes" resultMap="BaseResultMap">
      select * from news_type ORDER BY nt_id limit #{offset},#{limit}
    </select>
  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM news_type
  </select>
  <select id="getTypes" resultType="com.bigdata.web.domain.NewsType">
    select * from news_type;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news_type
    where nt_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bigdata.web.domain.NewsType" >
    insert into news_type (nt_id, type_name)
    values (#{ntId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bigdata.web.domain.NewsType" >
    insert into news_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ntId != null" >
        nt_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ntId != null" >
        #{ntId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bigdata.web.domain.NewsType" >
    update news_type
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
    </set>
    where nt_id = #{ntId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bigdata.web.domain.NewsType" >
    update news_type
    set type_name = #{typeName,jdbcType=VARCHAR}
    where nt_id = #{ntId,jdbcType=INTEGER}
  </update>

</mapper>