<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bigdata.web.dao.ResearchDirectionMapper" >
  <resultMap id="BaseResultMap" type="com.bigdata.web.domain.ResearchDirection" >
    <id column="did" property="did" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bigdata.web.domain.ResearchDirection" extends="BaseResultMap" >
    <result column="overview" property="overview" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    did, name
  </sql>
  <sql id="Blob_Column_List" >
    overview
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from research_direction
    where did = #{did,jdbcType=INTEGER}
  </select>
    <select id="list" resultType="com.bigdata.web.domain.ResearchDirection">
      SELECT * FROM research_direction ORDER BY did ASC limit #{offset}, #{limit}
    </select>
  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM research_direction
  </select>
  <select id="getDirections" resultType="com.bigdata.web.domain.ResearchDirection">
    select * from research_direction
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from research_direction
    where did = #{did,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bigdata.web.domain.ResearchDirection" >
    insert into research_direction (did, name, overview
      )
    values (#{did,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{overview,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bigdata.web.domain.ResearchDirection" >
    insert into research_direction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        did,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="overview != null" >
        overview,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        #{overview,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bigdata.web.domain.ResearchDirection" >
    update research_direction
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        overview = #{overview,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bigdata.web.domain.ResearchDirection" >
    update research_direction
    set name = #{name,jdbcType=VARCHAR},
      overview = #{overview,jdbcType=LONGVARCHAR}
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bigdata.web.domain.ResearchDirection" >
    update research_direction
    set name = #{name,jdbcType=VARCHAR}
    where did = #{did,jdbcType=INTEGER}
  </update>
</mapper>