<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bigdata.web.dao.ShowProjectMapper" >
  <resultMap id="BaseResultMap" type="com.bigdata.web.domain.ShowProject" >
    <id column="spid" property="spid" jdbcType="INTEGER" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="rsd_id" property="rsdId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bigdata.web.domain.ShowProject" extends="BaseResultMap" >
    <result column="project_info" property="projectInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    spid, project_name, rsd_id
  </sql>
  <sql id="Blob_Column_List" >
    project_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from show_project
    where spid = #{spid,jdbcType=INTEGER}
  </select>
    <select id="selectShowProjects" resultType="com.bigdata.web.domain.ShowProject">
      SELECT * FROM show_project ORDER BY spid ASC limit #{offset}, #{limit}
    </select>
  <select id="count" resultType="java.lang.Integer">
    SELECT count(*) FROM show_project
  </select>
    <select id="getShowProjectByRdID" resultType="com.bigdata.web.domain.ShowProject">
      SELECT * FROM show_project WHERE rsd_id = #{rdid, jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from show_project
    where spid = #{spid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bigdata.web.domain.ShowProject" >
    insert into show_project (spid, project_name, rsd_id, 
      project_info)
    values (#{spid,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{rsdId,jdbcType=INTEGER}, 
      #{projectInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bigdata.web.domain.ShowProject" >
    insert into show_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spid != null" >
        spid,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="rsdId != null" >
        rsd_id,
      </if>
      <if test="projectInfo != null" >
        project_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spid != null" >
        #{spid,jdbcType=INTEGER},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="rsdId != null" >
        #{rsdId,jdbcType=INTEGER},
      </if>
      <if test="projectInfo != null" >
        #{projectInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bigdata.web.domain.ShowProject" >
    update show_project
    <set >
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="rsdId != null" >
        rsd_id = #{rsdId,jdbcType=INTEGER},
      </if>
      <if test="projectInfo != null" >
        project_info = #{projectInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where spid = #{spid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bigdata.web.domain.ShowProject" >
    update show_project
    set project_name = #{projectName,jdbcType=VARCHAR},
      rsd_id = #{rsdId,jdbcType=INTEGER},
      project_info = #{projectInfo,jdbcType=LONGVARCHAR}
    where spid = #{spid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bigdata.web.domain.ShowProject" >
    update show_project
    set project_name = #{projectName,jdbcType=VARCHAR},
      rsd_id = #{rsdId,jdbcType=INTEGER}
    where spid = #{spid,jdbcType=INTEGER}
  </update>
</mapper>